$black: #000;
$white: #fff;
$primary : #555;
$success : #5de602;
$danger : #e70a0a;

$xbold: 700;
$bold: 500;
$regular: 400;
$thin: 100;

$fontFamily : 'Anonymous Pro', 'Courier New', Courier, monospace;
