@import "~/styles/_variables.scss";

// native elements
html, body{
  font-family: $fontFamily;
  color: $black;
}
body {
  margin: 0;
  padding: 0;
}

a, button {
  color: $primary;
  font-weight: $bold;
  &:hover {
    color: darken($primary, $amount: 50);
  }
}

button, .btn {
  font-family: $fontFamily;
	border-radius:42px;
  display:inline-block;
  font-weight: 400;
	cursor:pointer;
	padding:10px 20px;
  text-decoration:none;
  background: none;
  border: none;
  text-transform: uppercase;
  &:hover {
    background-color:#060805;
    color:#ffffff;
  }
  &:active {
    position:relative;
	  top:1px;
  }
  &:disabled {
    background-color: #f4f4f4;
    color: #555;
    border: none;
  }
}



.btn {
  &--primary  {
    background-color:#3a3b3a;
    border:1px solid #020803;
    text-shadow:0px 1px 0px #010800;
    color: #f4f4f4;
  }
  &--success  {
    background-color:$success;
    border:1px solid darken($success, 10);
    text-shadow:0px 1px 0px #eee;
    color: #f4f4f4;
  }
}

input[type=file] {
  font-family: $fontFamily;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

p, blockquote{
  word-wrap: break-word; /* old name */
  overflow-wrap: break-word;
}

nav {
  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  a {
    text-decoration: none;
    display: inline-block;
    padding: .5rem;
  }
  &.sart-nav--horizontal {
    display: inline-block;
    ul, li {
      display: inline-block;
    }
  }
}

//------ utility classess
// type
.txt-tfm {
  &--upc {
    text-transform: uppercase;
  }
  &--lwc {
    text-transform: lowercase;
  }
}
.txt-no-wrap {
  white-space: nowrap;
}
.txt{
  &--primary {
    color: $primary;
  }
  &--success {
    color: $success;
  }
  &--danger {
    color: $danger;
  }
  &--large {
    font-size: 3.5em;
  }
  &-underline {
      text-decoration: underline;
  }
  &-bold-underline {
    text-decoration: underline;
    font-weight: 700;
  }
}
.fw{
  &--xbold {
    font-weight: $xbold;
  }
  &--bold {
    font-weight: $bold;
  }
  &--thin {
    font-weight: $thin;
  }
}

// colors
.black {
  background-color: $black;
  &-text{
    color: $black;
  }
}

.bdr-solid{
  &--black {
    border: 1px solid $black;
  }
}
.bdrl-solid--black {
  border-left: 1px solid $black;
}
.bdrr-solid--black {
  border-right: 1px solid $black;
}
.bdrb-solid--black {
  border-bottom: 1px solid $black;
}



.bg {
  &--primary {
    background-color:$primary;
  }
}


// layout
.fill-width{
  width: 100%;
  box-sizing: border-box;
}
